.header-container {
  z-index: 10;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid silver;

  .navbar {
    opacity: 0.9;
    .nav-link {
      font-weight: 600;
      font-size: 1.2rem;

      &.active {
        color: #00bff0 !important;
      }
    }
  }
}
